* {
    margin:0;
    padding:0;
}

body {
    background-color: rgb(131, 130, 130);
    position:absolute;
    width:100%;
    height:100%;
}

#banner {
    position: absolute;
    margin: 0px;
    padding: 0px;
    height: 50px;
    display: flex;
    width: 100%;
    height: 50%;
}

.container {
    margin-left:auto;
    margin-right:auto;
    max-width:90%;
    padding-left:15px;
    padding-right:15px;
    width:100%;
}

.page-title {
    color:red;
    font-family:'arial',sans-serif;
    font-size:40px;
    text-shadow:2px 2px #000000;
    float:left;
    position: relative;
    padding: 15px 0;
    width:100%;
    z-index: 9;
    margin: 20px;
}

.section-movies {
    align-items:center;
    display:flex;
    justify-content:center;
    padding-bottom:60px;
    width:100%;
}

.app-movies {
    align-items:center;
    display:flex;
    flex-direction:column;
    position:relative;
    margin: 60px 0;
    z-index:9;
}
.page-subtitle1 {
    color:white;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size:54px;
    max-width:70%;
    text-align:center;
}
.page-subtitle2 {
    color:white;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size:25px;
    font-weight: 300;
    margin:20px 0 30px;
}
.page-subtitle3 {
    color:white;
    font-size:18px;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-bottom: 20px;
}

.form {
    display:flex;
    justify-content:center;
    width:100%;
}
.form-input {
    border: 0;
    background-color:#fff;
    border-radius:0;
    padding:15px 20px;
    width:35%;
}
.form-submit {
    background-color:#e50914;
    border:0;
    cursor:pointer;
    color:#fff;
    font-size:25px;
    padding:15px 30px;
    transition: all .2s ease-in-out;
}
.form-submit:hover {
    background-color:#c70913;
}

.modal {
    transition: all 0.3s ease-out;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    max-height: 450px;
    background-color: #999;
    padding: 20px;
    border-radius: 5px;
    z-index: 100;
}

.modal-bg {
    transition: all 0.3s ease-out;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }

  .listaFilmes {
    margin-top: 30px;
    position: relative;
    display: inline-block;
    width: 250px;
    height: 250px;
    padding: 0;
    margin: 5px;
    z-index: 90;
  } 

  .filmes {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 250px;
    padding: 0;
    margin: 5px;
    z-index: 90;
    transition: all 0.2s ease-out;
  }

  span {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #000;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 12px;
    z-index: 80;
    cursor: pointer;
  }

  h5 {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 0;
    text-align: center;
    display: block;
    width: 100%;
    padding: 20px 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
    );
    transition: all 0.2s ease-out;
    padding-bottom: 40%;
    transition: all 0.2s ease-out;
  }

  img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .listaFilmes:hover {
    cursor: pointer;
  }

  .footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:rgb(130, 123, 138);
    margin-bottom:0;
  }
  

@media only screen and (max-width: 480px) {

    .app-movies {
        margin: 30px 0;
    }

    .header-movies__title {
        text-align: center;
    }

    .page-subtitle1 {
        font-size:40px;
        max-width:100%;
    }

    .page-subtitle2 {
        text-align: center;
    }
    
    .page-subtitle3 {
        text-align: center;
    }

    .form {
        overflow: hidden;
        flex-direction: column;
    }

    .form-input {
        width: 100%;
        margin-bottom: 5px;
    }

    .form-submit {
        font-size: 16px;
    }

    .app-movies-all {
        grid-gap:15px;
        grid-template-columns: repeat(auto-fit, 47%);
    }

    .app-movies-all__figure {
        height: 190px;
    }
}